/* Get fonts for all 32 pages */
@import url('https://fonts.googleapis.com/css?family=Lato:300|Nova+Mono');

/* Box model */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*	HOME PAGE  */
body {
	background-color: #1c1f40;
	background:linear-gradient(to right, #282753, #1c1f40);
	margin: 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

/*  Keep page to prescribed width  */

.wrapper {
	max-width: 1100px;
	color: white;
	margin: 0 auto;
}

/*  All about menu and header  */

header {
	position: relative;
}

header img {
	max-width: 100%;
}

.menu {
  position: absolute;
	top:20px;
	left:20px;
	max-width: 166px;
	max-height: 80px;
	font-family: 'Nova Mono', monospace;
  background-color: #fcc502;
  border-radius: 0;
  transition: all .7s;
  overflow: hidden;
  cursor: pointer;
}

.word {
	display: block;
	font-size: 3.5em;
	line-height: .6;
	padding: 20px 20px 27px 20px;
}

.icon {
	display: none;
	padding: 15px;
}

.icon img {
	height: 40px;
	width: 40px;
}

.close {
  opacity:0;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.close img {
  width:60px;
  height: 60px;
}

.openMenu {
  max-width: 250px !important;
  max-height: 500px !important;
}

.openMenu .word {
  display: block;
}

.openMenu .close {
  opacity: 1;
  transition: all .4s;
  transition-delay: .4s;
}

.openMenu .icon {
  display: none;
}

.menu ul {
  width: 250px;
  font-size: 1.5em;
  line-height: 1;
  text-shadow: 1px 1px 2px #282753;
  list-style-type:none;
  padding: 0;
  margin: 0 0 20px 0;
}

.menu li {
  padding: 5px 0px 5px 22px;
  margin:0;
}

.itemSelected {
  background-color: #282753;
}

/*  iframe  */

iframe {
	width: 100%;
	border:none;
	margin: 0;
}

/*  Headings and description  */

h1, h2 {
	font-family: 'Nova Mono', monospace;
	color: white;
	font-size: 3em;
	font-weight: normal;
	text-transform: lowercase;
	margin: .2em 0 .25em;
	padding: 0 20px;
}

h2 {
  font-size: 2em;
  padding: 0;
}

#number {
	color:  #fcc502;
}

#description {
  padding: 0 20px 20px 20px;
  margin:0;
}

/*  Text elements  */

p, li, td {
	line-height: 1.5;
	font-size: 1.2em;
	font-weight: 300;
}

.textBlock {
  padding: 0 20px;
}

.textBlock p:first-child {
  margin-top: 0;
}

/*  Links  */

a {
  font-weight: 900;
  text-decoration: none;
  color:#fcc502;
}

a:visited {
  color:darkgrey;
}

a:hover {
  color:grey;
  font-size: 1.03em;
}

img {
  max-width: 100%;
}

/*  Media queries for home page  */

@media (max-width: 640px) {
	.menu {
		position: absolute;
		top:10px;
		left: 10px;
		max-height: 70px;
		max-width: 70px;
	}

	.word {
		display: none;
	}

	.icon {
		display: block;
	}

	h1 {
		font-size: 2em;
	}
}

/*  00 INTRO  */

.contact {
  text-align: right;
  border-right: 1px dotted #fcc502;
  border-top: 1px dotted #fcc502;
  margin: 0 20px 50px 20px;
  padding:10px 20px 10px 0;
}

.contact h2 {
  margin:0;
}

.contact p {
  margin: 0;
}

/*	01 CAT MUSIC	*/

.keys {
  background: #383838;
  background: url(images/cat.jpg) center no-repeat;
  background-size: cover;
  padding: 20px;
  min-height: 400px;
  padding-top:10%;
}

.homeRow {
  display: flex;
  justify-content: space-between;
  margin:20px auto;
}

.key {
  background-color: rgba(0,0,0,0.7);
  width: 10%;
  font-size: 3em;
  text-align: center;
  border-radius: 6px;
  text-shadow: 0 0 10px lightblue;
  padding: 7px 3px;
  transition:all 0.7s;
}

.pressed {
	background-color: rgba(0,0,0,0.4);
	border:1px solid lightblue;
	box-shadow: 0 0 5px 2px lightblue;
	transform: scale(.9);
}

.spaceBar {
  margin:20px auto;
  width: 40%;
}

@media (max-width: 600px) {
  .homeRow {
    flex-flow: row wrap;
  }

  .key {
    width: 30%;
    margin-bottom: 10px;
  }

  .spaceBar {
    width:60%;
  }
}

/*  02 CLOCK  */

.floralWallpaper {
  background-image:url(images/gray-floral.png);
  background-color: #6b0830;
}

.clock {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border:20px solid #49310c;
  border-radius:50%;
  box-shadow: 0 0 0 5px #241702;
  margin:50px auto;
  position: relative;
  padding:0;
}

.clockFace {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border:4px #b1975c solid;
  box-shadow: inset 0 0 20px 2px black;
  top: 0;
  left: 0;
}

.centerpiece {
  position: absolute;
  top:48%;
  right:47%;
  height: 25px;
  width: 25px;
  background-color: #b1975c;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px black;
  border:3px solid #49310c;
}

.hand {
  height:6px;
  background:#b6b2b2;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px black;
  position: absolute;
  top:50%;
  right:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

#seconds {
  width:46%;
  height: 3px;
  background-color: #6e0000;
}

#minutes {
  width:48%;
}

#hours {
  width:40%;
}

/*  Second look  */

.secondLook {
  background-color: #db88a9;
  border-radius: 25px;
  border:none;
  box-shadow: 0 0 0 15px #db88a9;
}

.secondLook .clockFace {
  background-color: white;
  background: linear-gradient(to bottom right, white,grey);
  border:7px #9e9e9e solid;
  box-shadow: inset 0 0 20px 2px black;
}

.secondLook .hand {
  border-radius: 3px;
  background-color:#191919;
  box-shadow: none;
  z-index: 2;
}

.secondLook .centerpiece {
  border:none;
  background-color: #9e9e9e;
  z-index: 3;
}

.secondLook img {
  display: none;
}

@media (max-width: 530px) {
  .clock {
    width: 280px;
    height: 280px;
    border:10px solid #49310c;
  }

  .centerpiece {
    top:47%;
    right:46%;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 330px) {
  .clock {
    margin: 50px 0;
  }
}

/*  31 CREDITS  */

.credits {
  border-collapse: collapse;
  margin:0 20px 50px 20px;
}

.credits tr {
  border-bottom:1px dotted #fcc502;
}

.credits td {
  padding: 10px;
}

.credits td:nth-child(odd) {
  text-align: right;
  border-right:1px dotted #fcc502;
}

.credits tr:last-child {
  border-bottom: none;
}


